@import url("Healder.css");
@import url("footer.css");
.banner{
	width: 100%;
	background-color: #dbdbdb;
}
.banner img{
	width: 100%;
	display: block;
}
.main .publc .mapimg img{
	width: 100%;
}
.main .publc{
	padding-bottom: 50px;
}
.main .publc p{
	margin:0;
	padding-bottom: 30px;
}
.main .publc .form{
	height: 422px;
	background: url(../img/contact4.png) no-repeat;
}
.main .publc .form h3{
	color: white;
	text-align: center;
	padding: 10px 0px;
	margin: 0;
}
.main .publc .form form .info{
	width: 600px;
	height: 331px;
	color: gray;
	margin: auto;
}
.main .publc .form form .info p{
	padding: 20px 0px 10px 0px;
}
.main .publc .form form .info input[type='text']{
	width: 100%;
	height: 25px;
	border: none;
}
.main .publc .form form .info textarea{
	width: 100%;
	height: 40px;
	resize: none;
	border: none;
}
.main .publc .form form .info .btn{
	width: 170px;
	margin: 0 auto;
	margin-top: 20px;
}
.main .publc .form form .info .btn input[type='reset'],.main .publc .form form .info .btn input[type='submit']{
	padding: 5px 20px;
	border:none;
	cursor: pointer;
}
.main .publc .form form .info .btn input[type='reset']{
	background-color: #606060;
}
.main .publc .form form .info .btn input[type='submit']{
	margin-left: 30px;
	background-color: #0c6ad3;
}

