@import url("Healder.css");
@import url("footer.css");
.banner{
	width: 100%;
	background:url(../img/interbanner.png) no-repeat;
	height: 400px;
	border-bottom: 30px solid gray;
}
.main .publc p{
	font-size: 12px;
	color: gray;
	margin-bottom: 0px;
}
.main .publc .intertitle{
	text-align: center;
	padding: 70px;
}
.main .publc .intertitle p{
	text-align: left;
	padding: 20px 20px;
}
.main .publc .cmo{
	border-top: 1px solid gray;
	padding: 40px 0;
}
.main .publc .cmo img.one{
	float: left;
}
.main .publc .cmo h6{
	margin-top: 0px;
	color: gray;
}
.main .publc .cmo h5{
	margin-bottom: 6px;
	margin-top: 0px;
}
.main .publc .cmo h6,h5,p{
	padding-left: 5px;
}
.main .publc .cmo p{
	padding-bottom: 10px;
	line-height: 25px;
}
.main .publc .num{
	padding: 40px 0px;
	width: 134px;
	margin: 0 auto;
}
.main .publc .num a{
	display: inline-block;
	text-decoration: none;
	padding: 5px;
	background-color: dodgerblue;
	font-size: 12px;
	color: white;
}
.main .publc .num a:hover{
	background-color: gray;
	cursor: pointer;
}

