@import url("Healder.css");
@import url("footer.css");
.banner{
	width: 100%;
	background:url(../img/serverbanner.png) no-repeat;
	height: 400px;
	border-bottom: 30px solid gray;
}
.banner .publc{
	padding-top: 130px;
}
.banner .publc h3{
	margin: 0;
	text-align: center;
	color: gray;
	font-size: 25px;
}
.banner .publc h3.font{
	font-family: '宋体';
}
.main{
	width: 100%;
}
.main .publc .count{
	width: 430px;
	margin: 0 auto;
	padding: 40px 0px 25px 0px;
}
.main .publc .count a{
	display: inline-block;
	text-decoration: none;
	padding: 5px 20px;
	margin-left: 20px;
	font-size: 14px;
	color: cornflowerblue;
}
.main .publc .count a:hover{
	background: dodgerblue;
	color: white;
}
.main .publc .showimg{
	list-style: none;
	font-size: 12px;
	margin: 0;
	margin-left: -48px;
}
.main .publc{
	width: 1002px;
}
.main .publc .showimg li{
	width: 33%;
	float: left;
	padding-top: 15px;
}
.main .publc .showimg li div img{
	width: 100%;
}
.main .publc .showimg li div{
	padding-left: 8px;
}
.main .publc .showimg li p{
	margin: 0;
}
.main .publc .showimg li p span{
	color: gray;
}
.main .publc .num{
	padding: 80px 0px;
	width: 134px;
	margin: 0 auto;
}
.main .publc .num a{
	display: inline-block;
	text-decoration: none;
	padding: 5px;
	background-color: dodgerblue;
	font-size: 12px;
	color: white;
}
.main .publc .num a:hover{
	background-color: gray;
	cursor: pointer;
}

